{% extends 'base.html' %}

{% block content %}

<!-- Dashboard Cards -->


<div class="row g-3 mb-4">

    <div class="col-md-4">
        <div class="card border-0 shadow text-center">
            <div class="card-body">
                <i class="bi bi-list-task fs-1 text-primary"></i>
                <h3>{{ total }}</h3>
                <p class="text-muted">Total Tasks</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-0 shadow text-center">
            <div class="card-body">
                <i class="bi bi-check-circle-fill fs-1 text-success"></i>
                <h3>{{ completed }}</h3>
                <p class="text-muted">Completed</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-0 shadow text-center">
            <div class="card-body">
                <i class="bi bi-hourglass-split fs-1 text-warning"></i>
                <h3>{{ pending }}</h3>
                <p class="text-muted">Pending</p>
            </div>
        </div>
    </div>

</div>

<!-- Progress Bar -->

<div class="card border-0 shadow-sm rounded-4 mb-4">
    <div class="card-body">

        <h5 class="mb-3">
            📊 Task Progress
        </h5>

        <div class="progress" style="height:25px;">

            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                 role="progressbar"
                 style="width:{% widthratio completed total 100 %}%">

                {{ completed }}/{{ total }}

            </div>

        </div>

    </div>
</div>



<!-- Search -->

<form method="GET" class="mb-4">

    <div class="input-group">

        <input
            type="text"
            name="search"
            class="form-control form-control-lg"
            placeholder="🔍 Search your tasks..."
            value="{{ request.GET.search }}">

        <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i> Search
        </button>

    </div>

</form>

<!-- Add Todo Form -->


            <form method="POST" enctype="multipart/form-data">


  {% csrf_token %}




            <div class="mb-3">

                   {{ form.title.label_tag }}

                   {{ form.title }}

            </div>


        <div class="mb-3">

        {{ form.description.label_tag }}

        {{ form.description }}

         </div>

       <div class="row">

    <div class="col-md-4 mb-3">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.priority.label_tag }}
        {{ form.priority }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.status.label_tag }}
        {{ form.status }}
    </div>

</div>

<div class="mb-3">
    {{ form.due_date.label_tag }}
    {{ form.due_date }}
</div>

<div class="mb-3">
    {{ form.attachment.label_tag }}
    {{ form.attachment }}
</div>


            <div class="form-check mb-3">


                  {{ form.completed }}

                  {{ form.completed.label_tag }}


            </div>

<button class="btn btn-success w-100">

➕ Add Todo

</button>
</form>

<hr>

<h4>
Todo List
</h4>

{% for todo in todos %}

<div class="card mt-3 p-3">
<div class="d-flex justify-content-between align-items-center">

<div>


<!-- Title -->

{% if todo.completed %}

<h5>

<a href="{% url 'toggle' todo.id %}"
class="text-success text-decoration-none">

✅ {{ todo.title }}

</a>

</h5>
{% else %}
<h5>

<a href="{% url 'toggle' todo.id %}"
class="text-dark text-decoration-none">

⬜ {{ todo.title }}

</a>

</h5>

{% endif %}

<!-- Description -->

{% if todo.description %}
<p class="text-muted">

{{ todo.description }}

</p>


{% endif %}

<!-- Category -->


<span class="badge bg-info">

{{ todo.category }}

</span>

<!-- Priority -->


{% if todo.priority == "High" %}


<span class="badge bg-danger">

{{ todo.priority }}

</span>

{% elif todo.priority == "Medium" %}

<span class="badge bg-warning text-dark">

{{ todo.priority }}

</span>

{% else %}

<span class="badge bg-success">

{{ todo.priority }}

</span>

{% endif %}

{% if todo.status == "Todo" %}

<span class="badge bg-secondary">
    🟡 {{ todo.status }}
</span>

{% elif todo.status == "In Progress" %}

<span class="badge bg-primary">
    🔵 {{ todo.status }}
</span>

{% elif todo.status == "Completed" %}

<span class="badge bg-success">
    🟢 {{ todo.status }}
</span>

{% endif %}

<!-- Due Date -->


{% if todo.due_date %}


<small class="text-muted d-block mt-2">

📅 Due:
{{ todo.due_date|date:"F d, Y" }}

</small>


{% endif %}

<!-- Attachment -->

{% if todo.attachment %}

<a href="{{ todo.attachment.url }}"
target="_blank"
class="btn btn-sm btn-outline-primary mt-2">

📎 View Attachment
</a>

{% endif %}

</div>

<!-- Buttons -->


<div>
<a href="{% url 'update' todo.id %}"
class="btn btn-warning btn-sm me-2">

✏️ Edit

</a>

<a href="{% url 'delete' todo.id %}"
class="btn btn-danger btn-sm">

🗑 Delete


</a>
</div>

</div>

</div>





{% empty %}

<div class="alert alert-warning">

No Todo Available

</div>

{% endfor %}

{% endblock %}


<script>
document.addEventListener("DOMContentLoaded", function () {

    const btn = document.getElementById("theme-toggle");

    if(localStorage.getItem("theme") === "dark"){
        document.body.classList.add("dark-mode");
        btn.innerHTML = '<i class="bi bi-sun-fill"></i>';
    }

    btn.addEventListener("click", function(){

        document.body.classList.toggle("dark-mode");

        if(document.body.classList.contains("dark-mode")){
            localStorage.setItem("theme","dark");
            btn.innerHTML = '<i class="bi bi-sun-fill"></i>';
        }else{
            localStorage.setItem("theme","light");
            btn.innerHTML = '<i class="bi bi-moon-fill"></i>';
        }

    });

});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>